body {
    font-family: Arial;
    background-color: #f4f4f4;
    text-align: center;
}

.contenedor {
    margin-top: 20px;
}

button {
    margin: 10px;
    padding: 10px;
}

.caja {
    width: 200px;
    height: 100px;
    background-color: lightgray;
    margin: 10px auto;
    line-height: 100px;
}
